@using Blog.ViewModels.Roles;
@model RoleDetailsViewModel
@{
    ViewData["Title"] = "اطلاعات نقش";
}
<h3 class="bg-soft-info p-3 mx-2 rounded-3 text-dark text-center">اطلاعات نقش</h3>
<div class="bg-soft-info text-dark rounded-3 mx-2 p-3 text-center">
    <h4>@Model.Name</h4><hr />
    <span class="text-muted me-2">@Html.DisplayNameFor(model => model.UsersInRoleCount)</span>
    <h4>@Model.UsersInRoleCount.ToPersianNumbers()</h4><hr />
    <span class="text-muted me-2 text-start">@Html.DisplayNameFor(model => model.Permissions)</span>
    <div class="text-end">
    @foreach (var item in Model.Permissions)
    {
        <p>@item.Replace("|","  /  ")</p>
    }
    </div>
</div>